---
antora:
  extensions:
    - require: '@antora/lunr-extension'
      index_latest_only: true
git:
  fetch_concurrency: 1
runtime:
  # Set a local antora cache dir for git repositories and UI components
  cache_dir: ./.cache/antora
  fetch: true
site:
  title: Docs
  # the 404 page and sitemap files only get generated when the url property is set
  url: https://docs.opennms.com/
  keys:
    google_analytics: 'G-WR2RML9P8J'
  start_page: start-page::index.adoc
  robots: allow
content:
  sources:
  # Generic start page
  - url: .
    start_path: start-page
    branches: HEAD
  - url: https://github.com/OpenNMS/opennms.git
    start_path: docs
    branches:
      - 'master-*'
      - '!master-29'
      - '!master-28'
      - '!master-27'
      - '!master-26'
      - '!master-25'
      - '!master-24'
      - '!master-23'
      - '!master-22'
      - '!master-21'
      - '!master-20'
  - url: https://GITHUB_PRIME_TOKEN@github.com/OpenNMS/opennms-prime.git
    start_path: docs
    branches:
      - 'master-*'
      - '!master-2020'
      - '!master-2019'
      - '!master-2018'
      - '!master-2017'
      - '!master-2016'
      - '!master-2015'
  # embedding empty credentials in the URL disables the Edit this Page link for any page created from this repository
  - url: https://github.com/opennms/grafana-plugin.git
    start_path: docs
    branches:
      - 'main-*'
      - '!main-7'
  - url: https://github.com/OpenNMS/alec.git
    start_path: docs
    branches:
      - develop
      - /^release-.*/
    tags:
      - v*
      - '!v2.*.*'
      - '!v2.*.*-ALPHA'
      - '!v1.*.*'
      - '!v1.1.1-doc'
      - '!v2.0.0.alpha0' # same SNAPSHOT version as another branch
      - '!v1.1.1' # Tag v1.1.1 has version number 1.1.1-SNAPSHOT use v1.1.1-doc instead
      - '!v1.1.1-rebuild' # I thought I needed to remake the debs, but I did not
  - url: https://github.com/OpenNMS/helm-charts.git
    start_path: docs
    branches:
      - main
      - /^release-.*/
  - url: https://github.com/OpenNMS/opennms-velocloud-plugin.git
    start_path: docs
    branches:
      - main
      - /^release-.*/
    tags:
      - v*
      - '!v1.0.0'
  - url: https://github.com/OpenNMS/opennms-provisioning-integration-server.git
    start_path: docs
    branches:
      - release-*
      - '!release-1.1*'
      - '!release-1.0*'
  - url: https://github.com/OpenNMS/opennms-js.git
    start_path: docs-src
    branches: develop
    tags:
    - v*
    - '!v0.*'
    - '!v1.*'
    - '!v2.0.0'
    - '!v2.0.1'
    - '!v2.0.2'
    - '!v2.5.0'
    - '!v2.5.1'
    - '!v2.5.2'
    - '!v2.5.3'
    - '!v2.5.4'
ui:
  bundle:
    url: https://github.com/opennms-forge/antora-ui-opennms/releases/download/v3.1.0/ui-bundle.zip
    snapshot: true
  supplemental_files: ./supplemental_ui
asciidoc:
  attributes:
    experimental: true
    stem: latexmath
    idprefix: ''
    idseparator: '-'
    page-pagination: ''
    source-language: asciidoc@
    distribution: 'Horizon'
    tabs: tabs
  extensions:
    - ./lib/tabs-block.js
output:
  clean: true
  dir: ./public
  destinations:
  - provider: fs
  - provider: archive
