<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a href="{{{or site.url (or siteRootUrl siteRootPath)}}}"><img class="navbar-logo" src="{{{uiRootPath}}}/img/logotype.svg"/></a>
      <a class="navbar-site-title" href="https://cnn.com">{{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        {{#if env.DOCSEARCH_ENABLED}}
        <div class="navbar-item">
          <input id="search-input" type="text" placeholder="Search docs">
        </div>
        {{/if}}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Videos</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://www.youtube.com/watch?v=GJzmkshdjiI&list=PLsXgBGH3nG7iZSlssmZB3xWsAJlst2j2z" target="blank">OpenNMS 101 Training</a>
            <a class="navbar-item" href="https://www.youtube.com/watch?v=aoiSjNvDC7E&list=PLsXgBGH3nG7h6zy2hENGRJbs0BYQaqBu4" target="blank">OpenNMS 102 Training</a>
            <a class="navbar-item" href="https://www.youtube.com/opennms" target="blank">OpenNMS on YouTube</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Community Tools</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://www.opennms.com" target="blank">Project Website</a>
            <a class="navbar-item" href="https://issues.opennms.org" target="blank">JIRA</a>
            <a class="navbar-item" href="https://opennms.discourse.group" target="blank">Discourse</a>
            <a class="navbar-item" href="https://chat.opennms.com" target="blank">Mattermost Chat</a>
            <a class="navbar-item" href="https://toolbox.opennms.eu" target="blank">Toolbox</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">OpenNMS Group</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://www.opennms.com/training" target="blank">Training</a>
            <a class="navbar-item" href="https://www.opennms.com/support" target="blank">Commercial Support</a>
            <a class="navbar-item" href="https://www.opennms.com/sponsored-development" target="blank">Sponsored Development</a>
          </div>
        </div>
        <a class="navbar-item" href="https://vault.opennms.com/docs/">Archived Docs</a>
    </div>
    <div class="navbar-item">
      <span class="control">
        <a class="button is-primary" href="https://github.com/opennms" target="blank">GitHub</a>
      </span>
    </div>
  </nav>
</header>

